/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
}

.left {
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
}

.content {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.content iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#scbLogo {
  margin: auto;
  display: block;
  width: 50%;
}

.table-container {
  width: 100%;
  margin: 10px;
  overflow-y: scroll;
}

.table {
  border-spacing: 0px;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.table.left-head th {
  text-align: left;
  white-space: nowrap;
}

.table tr:nth-of-type(even) {
  background: #f8f8f7
}

.table.fix-head thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
  background: #f7f8f7;
}

.table th, .table td {
  border: 1px solid #dedede;
  padding: 8px;
}